<div class="row row-no-padding row-col-separator-xl" *ngIf="(finReptWidgetData$ | async) as finReptWidgetData">
        <div class="col-xl-4"  style="height: 370px;">
         
          <kt-widget1 [data]="finReptWidgetData.summary" (outputArray)="GetPopupInfo($event)"></kt-widget1>
        </div>
         <div class="col-xl-8" style="height: 370px;">
          <!-- <kt-bchart-one-ds-widget [title]="'Absence (%)'" [desc]="'Check out each column for more details'"
            [data]="finReptWidgetData.agentEvalData"></kt-bchart-one-ds-widget>  -->
            <kt-bar-chart-widget [title]="'Absence (%)'" [desc]="'Check out each column for more details'" [Chartdata]="ChartabsentiesData" [Chartinput]="ChartInputs" ></kt-bar-chart-widget>
        </div> 
    
      </div>