//* Mat Table Styles *//

.outset {border-style: ridge;}

.GridHeader
{
    // color: blue;
  background-color:blueviolet;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-right: blanchedalmond;
}

.mat-cell{
  background-color:rgb(32, 31, 31);
  color: white;
  font-weight: bold;
}
.mat-header-row {
  min-height: 25px;
  align-items: center;

}
.mat-footer-row, .mat-row {
  min-height: 25px;
  align-items: center;

}

.mat-column-agent_name {
  flex: none;
  width: 27%;
}

.mat-column-currentSkillGroupName{
  flex: none;
  width: 23%;
}

.mat-column-reason_code{
  flex: none;
  width: 10%;
}

.mat-column-status_name{
  flex: none;
  width: 10%;
}
.mat-column-extension{
  flex: none;
  width: 6%;
}
.mat-column-callsHandled{
  flex: none;
  width: 5%;
}
.mat-column-callsAbandoned{
  flex: none;
  width: 6%;
}
.mat-column-time_in_status{
  flex: none;
  width: 6%;
}

$SubchartFontSize: calc(0.4vh + 0.4vw + 0.7vmin);
$chartFontSize: calc(0.5vh + 0.5vw + 1vmin);

.card-subtitle {
  margin: 0px;
  padding: 0px;
  font-size: calc(#{$SubchartFontSize} * 1);
  font-weight: 500;
}
.card-title {
    margin: 0px;
    padding: 0px;
    font-size: calc(#{$chartFontSize} * 1);
    font-weight: 500;
}

.tabledivalign{
  margin-top: 0px;
  padding-top: 2px;
}


.card-body{
  padding:0px 0px 0px 0px;
}

.time{
  color: black;
    background-color: white;
    margin: 3px;
    border-radius: 11px;
    font-size: 14px;
    font-weight: bold;
}

.sticky {
  position: sticky;
  // position: -webkit-sticky;
  width: 100%;
  height: 100%;
  top: 75px;
  display: flex;
  justify-content: right;
  // align-items: center;
  box-shadow: 0 0 6px #000;
  // color: #fff;
}
//* Ag-Grid Styles*//

// .ag-row-hover {
//     /* putting in !important so it overrides the theme's styling as it hovers the row also */
//     background-color: #dfdfff !important;
// }

// .ag-column-hover {
//     background-color: #dfffdf;
// }

// .fa-icon {
//     width: 17px;
//     margin-left: 5px;
// }

// .form-group, .form-label, .form-control {
//     padding: 0px;
// }



// .beINButton {
//     background-color: #5e2e94;
//     color: #ffffff;
// }

// .ag-header-group-cell-label{
//     text-align: center;
// }

// .tfimg {
//     width: 16px; height: 16px;
// }

// /// Chart Theme

// .agentIcon {
//     font-size: 100px;
//     background-color: #5e2e94;
//     border-radius: 100%;
//     padding: 30px;
//     color: white;
//   }
//   .agentDetails {
//     margin-bottom: 20px;
//    // border: 1px solid rgba(0, 0, 0, 0.1);
//     .card-subtitle {
//       font-weight: 300;
//       margin-bottom: 10px;
//       color: #a1aab2;
//       font-size: 14px;
//     }
//     .card-title {
//       position: relative;
//       font-weight: 500;
//       margin-bottom: 10px;
//       font-size: 18px;
//     }
//     .card-actions {
//       float: right;
//       a {
//         padding: 0 5px;
//         cursor: pointer;
//       }
//     }
//     .card-header .card-title {
//       margin-bottom: 0px;
//     }
//     .mat-card-content {
//       margin-bottom: 0px;

//       h5,
//       .h5 {
//         font-size: 14px;
//         font-weight: bold;
//       }
//     }
//     &.no-card-border {
//       border: 0px;
//     }
//   }

//   .agentStats {
//     margin-bottom: 20px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     .card-subtitle {
//       font-weight: 300;
//       margin-bottom: 10px;
//       color: #a1aab2;
//       font-size: 14px;
//     }
//     .card-title {
//       position: relative;
//       font-weight: 500;
//       margin-bottom: 10px;
//       font-size: 18px;
//     }
//     .card-actions {
//       float: right;
//       a {
//         padding: 0 5px;
//         cursor: pointer;
//       }
//     }
//     .card-header .card-title {
//       margin-bottom: 0px;
//     }
//     .mat-card-content {
//       margin-bottom: 0px;

//       h6,
//       .h6 {
//         font-size: 12px;
//       }
//     }
//     &.no-card-border {
//       border: 0px;
//     }
//   }

//   .row {
//     margin: 0px;
//   }
//   .col-lg-2 {
//     padding-right: 0px;
//     padding-left: 0px;
//     padding: 0.25rem;
//   }

//   .link {
//     text-decoration: none;
//     color: #000000;
//     cursor: pointer;
//     font-size: 14px;
//   }
//   .is-invalid {
//     border-left: 4px solid #9c1a1a;
//   }

//   .beINButton {
//     background-color: #5e2e94;
//     color: #ffffff;
//   }

//   .mat-button .mat-button-focus-overlay,
//   .mat-icon-button .mat-button-focus-overlay {
//     opacity: 0;
//   }
//   .mat-button:hover .mat-button-focus-overlay,
//   .mat-stroked-button:hover .mat-button-focus-overlay {
//     opacity: 0.04;
//   }
//   @media (hover: none) {
//     .mat-button:hover .mat-button-focus-overlay,
//     .mat-stroked-button:hover .mat-button-focus-overlay {
//       opacity: 0;
//     }
//   }
//   .mat-button,
//   .mat-flat-button,
//   .mat-icon-button,
//   .mat-stroked-button {
//     box-sizing: border-box;
//     position: relative;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     outline: 0;
//     border: none;
//     -webkit-tap-highlight-color: transparent;
//     display: inline-block;
//     white-space: nowrap;
//     text-decoration: none;
//     vertical-align: baseline;
//     text-align: center;
//     margin: 0;
//     min-width: 64px;
//     line-height: 36px;
//     padding: 0 16px;
//     border-radius: 4px;
//     overflow: visible;
//   }
//   .mat-button::-moz-focus-inner,
//   .mat-flat-button::-moz-focus-inner,
//   .mat-icon-button::-moz-focus-inner,
//   .mat-stroked-button::-moz-focus-inner {
//     border: 0;
//   }
//   .mat-button[disabled],
//   .mat-flat-button[disabled],
//   .mat-icon-button[disabled],
//   .mat-stroked-button[disabled] {
//     cursor: default;
//   }
//   .mat-button.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-button.cdk-program-focused .mat-button-focus-overlay,
//   .mat-flat-button.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-flat-button.cdk-program-focused .mat-button-focus-overlay,
//   .mat-icon-button.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-icon-button.cdk-program-focused .mat-button-focus-overlay,
//   .mat-stroked-button.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-stroked-button.cdk-program-focused .mat-button-focus-overlay {
//     opacity: 0.12;
//   }
//   .mat-button::-moz-focus-inner,
//   .mat-flat-button::-moz-focus-inner,
//   .mat-icon-button::-moz-focus-inner,
//   .mat-stroked-button::-moz-focus-inner {
//     border: 0;
//   }
//   .mat-raised-button {
//     box-sizing: border-box;
//     position: relative;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     outline: 0;
//     border: none;
//     -webkit-tap-highlight-color: transparent;
//     display: inline-block;
//     white-space: nowrap;
//     text-decoration: none;
//     vertical-align: baseline;
//     text-align: center;
//     margin: 0;
//     min-width: 64px;
//     line-height: 36px;
//     padding: 0 16px;
//     border-radius: 4px;
//     overflow: visible;
//     transform: translate3d(0, 0, 0);
//     transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
//       box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   .mat-raised-button::-moz-focus-inner {
//     border: 0;
//   }
//   .mat-raised-button[disabled] {
//     cursor: default;
//   }
//   .mat-raised-button.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-raised-button.cdk-program-focused .mat-button-focus-overlay {
//     opacity: 0.12;
//   }
//   .mat-raised-button::-moz-focus-inner {
//     border: 0;
//   }
//   ._mat-animation-noopable.mat-raised-button {
//     transition: none;
//     animation: none;
//   }
//   .mat-stroked-button {
//     //border: 1px solid currentColor;
//     padding: 0 15px;
//     line-height: 34px;
//   }
//   .mat-stroked-button .mat-button-focus-overlay,
//   .mat-stroked-button .mat-button-ripple.mat-ripple {
//     top: -1px;
//     left: -1px;
//     right: -1px;
//     bottom: -1px;
//   }
//   .mat-fab {
//     box-sizing: border-box;
//     position: relative;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     outline: 0;
//     border: none;
//     -webkit-tap-highlight-color: transparent;
//     display: inline-block;
//     white-space: nowrap;
//     text-decoration: none;
//     vertical-align: baseline;
//     text-align: center;
//     margin: 0;
//     min-width: 64px;
//     line-height: 36px;
//     padding: 0 16px;
//     border-radius: 4px;
//     overflow: visible;
//     transform: translate3d(0, 0, 0);
//     transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
//       box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//     min-width: 0;
//     border-radius: 50%;
//     width: 56px;
//     height: 56px;
//     padding: 0;
//     flex-shrink: 0;
//   }
//   .mat-fab::-moz-focus-inner {
//     border: 0;
//   }
//   .mat-fab[disabled] {
//     cursor: default;
//   }
//   .mat-fab.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-fab.cdk-program-focused .mat-button-focus-overlay {
//     opacity: 0.12;
//   }
//   .mat-fab::-moz-focus-inner {
//     border: 0;
//   }
//   ._mat-animation-noopable.mat-fab {
//     transition: none;
//     animation: none;
//   }
//   .mat-fab .mat-button-wrapper {
//     padding: 16px 0;
//     display: inline-block;
//     line-height: 24px;
//   }
//   .mat-mini-fab {
//     box-sizing: border-box;
//     position: relative;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     cursor: pointer;
//     outline: 0;
//     border: none;
//     -webkit-tap-highlight-color: transparent;
//     display: inline-block;
//     white-space: nowrap;
//     text-decoration: none;
//     vertical-align: baseline;
//     text-align: center;
//     margin: 0;
//     min-width: 64px;
//     line-height: 36px;
//     padding: 0 16px;
//     border-radius: 4px;
//     overflow: visible;
//     transform: translate3d(0, 0, 0);
//     transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
//       box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//     min-width: 0;
//     border-radius: 50%;
//     width: 40px;
//     height: 40px;
//     padding: 0;
//     flex-shrink: 0;
//   }
//   .mat-mini-fab::-moz-focus-inner {
//     border: 0;
//   }
//   .mat-mini-fab[disabled] {
//     cursor: default;
//   }
//   .mat-mini-fab.cdk-keyboard-focused .mat-button-focus-overlay,
//   .mat-mini-fab.cdk-program-focused .mat-button-focus-overlay {
//     opacity: 0.12;
//   }
//   .mat-mini-fab::-moz-focus-inner {
//     border: 0;
//   }
//   ._mat-animation-noopable.mat-mini-fab {
//     transition: none;
//     animation: none;
//   }
//   .mat-mini-fab .mat-button-wrapper {
//     padding: 8px 0;
//     display: inline-block;
//     line-height: 24px;
//   }
//   .mat-icon-button {
//     padding: 0;
//     min-width: 0;
//     width: 40px;
//     height: 40px;
//     flex-shrink: 0;
//     line-height: 40px;
//     border-radius: 50%;
//   }
//   .mat-icon-button .mat-icon,
//   .mat-icon-button i {
//     line-height: 24px;
//   }
//   .mat-button-focus-overlay,
//   .mat-button-ripple.mat-ripple {
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: absolute;
//     pointer-events: none;
//     border-radius: inherit;
//   }
//   .mat-button-ripple.mat-ripple:not(:empty) {
//     transform: translateZ(0);
//   }
//   .mat-button-focus-overlay {
//     opacity: 0;
//     transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1),
//       background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
//   }
//   ._mat-animation-noopable .mat-button-focus-overlay {
//     transition: none;
//   }
//   @media (-ms-high-contrast: active) {
//     .mat-button-focus-overlay {
//       background-color: #fff;
//     }
//   }
//   @media (-ms-high-contrast: black-on-white) {
//     .mat-button-focus-overlay {
//       background-color: #000;
//     }
//   }
//   .mat-button-ripple-round {
//     border-radius: 50%;
//     z-index: 1;
//   }
//   .mat-button .mat-button-wrapper > *,
//   .mat-fab .mat-button-wrapper > *,
//   .mat-flat-button .mat-button-wrapper > *,
//   .mat-icon-button .mat-button-wrapper > *,
//   .mat-mini-fab .mat-button-wrapper > *,
//   .mat-raised-button .mat-button-wrapper > *,
//   .mat-stroked-button .mat-button-wrapper > * {
//     vertical-align: middle;
//   }
//   .mat-form-field:not(.mat-form-field-appearance-legacy)
//     .mat-form-field-prefix
//     .mat-icon-button,
//   .mat-form-field:not(.mat-form-field-appearance-legacy)
//     .mat-form-field-suffix
//     .mat-icon-button {
//     display: block;
//     font-size: inherit;
//     width: 2.5em;
//     height: 2.5em;
//   }
//   @media (-ms-high-contrast: active) {
//     .mat-button,
//     .mat-fab,
//     .mat-flat-button,
//     .mat-icon-button,
//     .mat-mini-fab,
//     .mat-raised-button {
//       outline: solid 1px;
//     }
//   }



//   // This is for chart Reports  style ----



//   $primaryColor: #5e2e94;
// $gradientBGColor_1: #5e2e94;
// $topBarDarkBlue: rgb(21, 88, 146);
// $topBarLightBlue: rgb(60, 137, 214);
// $topBarDarkYellow: rgb(255, 238, 0);
// $topBarLightYellow: rgb(255, 243, 74);
// $color: ( light: #fefefe, dark: #333, cool: linear-gradient($topBarLightBlue, $topBarDarkBlue));
// $chartFontSize: calc(0.5vh + 0.5vw + 1vmin);
// $SubchartFontSize: calc(0.4vh + 0.4vw + 0.7vmin);
// h4 {
//     margin: 0px;
//     padding: 0px;
//     font-weight: 200;
// }

// .blue-theme {
//     .card{
//        // border: 1px solid #499bea;
//         box-shadow:-2px 5px 5px 1px #499bea52;
//         .card-header,  .data-header {
//             background: #499bea;
//             background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
//             background: -webkit-gradient(left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
//             background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
//             background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
//             background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
//             background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
//             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
//             color: #ffffff;
//             h5{
//                 margin-bottom: 0px;
//             }

//         }
//     }
// }

// .dark-blue-theme {
//     .card{
//         //border: 1px solid #3d8ad6;
//         box-shadow:-2px 5px 5px 1px #3d8ad652;
//         .card-header,  .data-header {
//             background: #3d8ad6;
//             background: -moz-linear-gradient(top, #3d8ad6 0%, #2d86e0 49%, #155892 100%);
//             background: -webkit-gradient(left top, left bottom, color-stop(0%, #3d8ad6), color-stop(49%, #2d86e0), color-stop(100%, #155892));
//             background: -webkit-linear-gradient(top, #3d8ad6 0%, #2d86e0 49%, #155892 100%);
//             background: -o-linear-gradient(top, #3d8ad6 0%, #2d86e0 49%, #155892 100%);
//             background: -ms-linear-gradient(top, #3d8ad6 0%, #2d86e0 49%, #155892 100%);
//             background: linear-gradient(to bottom, #3d8ad6 0%, #2d86e0 49%, #155892 100%);
//             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8ad6', endColorstr='#155892', GradientType=0 );
//             color: #ffffff;
//             h5{
//                 margin-bottom: 0px;
//             }

//         }
//     }
// }

// .brown-theme {
//     .card{
//        //border: 1px solid #a90329;
//         box-shadow:-2px 5px 5px 1px #a9032952;
//         .card-header,  .data-header {
//             background: #a90329;
//             background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
//             background: -webkit-gradient(left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
//             background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
//             background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
//             background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
//             background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
//             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );
//             color: #ffffff;
//             h5{
//                 margin-bottom: 0px;
//             }

//         }
//     }
// }

// .bein-theme {
//     .card{
//         border: 1px solid #5e2e94;
//         //box-shadow:-2px 5px 5px 1px #5e2e9452;
//         .card-header,  .data-header {
//             background: #5e2e94;
//             background: -moz-linear-gradient(top, #5e2e94 0%, #45167a 100%);
//             background: -webkit-gradient(left top, left bottom, color-stop(0%, #5e2e94), color-stop(100%, #45167a));
//             background: -webkit-linear-gradient(top, #5e2e94 0%, #45167a 100%);
//             background: -o-linear-gradient(top, #5e2e94 0%, #45167a 100%);
//             background: -ms-linear-gradient(top, #5e2e94 0%, #45167a 100%);
//             background: linear-gradient(to bottom, #5e2e94 0%, #45167a 100%);
//             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e2e94', endColorstr='#45167a', GradientType=0 );
//             color: #ffffff;
//             h5{
//                 margin-bottom: 0px;
//             }

//         }
//     }
// }

// .card-header {
//     padding: .65rem 1.25rem;
//     padding: 3px;
// }

// .card-title {
//     margin: 0px;
//     padding: 0px;
//     //font-size: 1.4rem;
//     font-size: calc(#{$chartFontSize} * 1);
//     font-weight: 500;
// }
// .card-subtitle {
//   margin: 0px;
//   padding: 0px;
//   //font-size: 1.4rem;
//   font-size: calc(#{$SubchartFontSize} * 1);
//   font-weight: 500;
// }
// .chartDiv{
//     display:block;
//     height: 30vh;
//     min-height: 300px;
// }

// .summaryTitle{
//     line-height: 1.2;
//     //font-size: 1.05rem;
//     font-size: calc(#{$chartFontSize} * 0.45);
// }
// .summaryData{
//     // font-size: 2rem;
//     font-size: calc(#{$chartFontSize} * 1);
// }

// .custProgress {
//     height: auto;
// }

// .summCardBody{
//     padding: 10px;
// }

// .chartWrapper
// {
//   width: 15000px;
//   overflow-x: scroll;
//   overflow-y: scroll;
// }

// #chartdiv {
//   width: 100%;
//   height: 500px;
// }
// .amcharts-chart-div > a {
//   display: none !important;
// }


// .col-6{
//   padding:0px;
// }
// .card{
//   box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
//   margin-top: 5px;
// }
// .card-body{
//   padding:0px 0px 0px 0px
// }
// h6,.h6 {
//   font-size: 20px;
// }
// @mixin rotate($deg: 90){
//   $sDeg: #{$deg}deg;

//   -webkit-transform: rotate($sDeg);
//   -moz-transform: rotate($sDeg);
//   -ms-transform: rotate($sDeg);
//   -o-transform: rotate($sDeg);
//   transform: rotate($sDeg);
// }
// .fa-rotate-45 {
//   @include rotate(45deg);
// }
// .fa-rotate-90 {
//   @include rotate(135deg);
// }
// .fa-rotate-135 {
//   @include rotate(135deg);
// }
// .CardValue
// {
//   font-size: 25px;
//   font-weight: bold;
// }



//   .leftalign
//   {
//     text-align: left;    
//   }

//   .rowcolor
//   {
//     background: #000;
//   }


// .time{
//   color: black;
//     background-color: white;
//     margin: 10px;
//     border-radius: 11px;
//     font-size: 21px;
//     font-weight: bold;
// }


// ::ng-deep .ag-theme-balham .ag-header-cell{
//   background-color:blueviolet;
//   color: white;
//   font-weight: bold;
//   font-size: 15px;  
// }



// ::ng-deep span.ag-icon.ag-icon-menu {
//   display: none ; 
//   opacity: 0 ;
// }

// ::ng-deep span.ag-icon.ag-icon-menu::before {
//   display: none ;
//   opacity: 0 ;
// }

// ::ng-deep span .ag-theme-balham .ag-header-icon
// {
//     display: none !important; 
//     opacity: 0 !important;
// }
// ::ng-deep span .ag-theme-balham .ag-header-icon::before
// {
//     display: none !important; 
//     opacity: 0 !important;
// }

