<mat-tab-group >
  <!-- <mat-tab>
      <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fa fa-user"></i>
          Create New Ticket
      </ng-template>
      <ng-template matTabContent>
          <kt-create-reporting-ticket></kt-create-reporting-ticket>
      </ng-template>
  </mat-tab> -->
  <mat-tab>
      <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fa fa-user"></i>
         Reporting Ticket List
      </ng-template>
      <ng-template matTabContent>
          <kt-ticketlist></kt-ticketlist>
</ng-template>
      </mat-tab>

</mat-tab-group>