<mat-tab-group >
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="mat-tab-label-icon fa fa-user"></i>
            Calender View
        </ng-template>
        <ng-template matTabContent>
            <kt-calendar></kt-calendar>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="mat-tab-label-icon fa fa-user"></i>
            List View
        </ng-template>
        <ng-template matTabContent>
            <kt-calendar-event></kt-calendar-event>
</ng-template>
        </mat-tab>

</mat-tab-group>