<div class="error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center" 
style="background-color: skyblue; height: 100%; border-radius: 10px; padding-left: 430px !important;">
    <!--begin::Content-->
    <div class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
        <h1 class="error-title text-stroke text-transparent" style="color:red ;">204</h1>
        <p class="display-4 font-weight-boldest text-white mb-12">Unauthorized Access Request</p>
        <p class="font-size-h1 font-weight-boldest text-dark-75">Sorry we can't process the request you're trying for.</p>
        <p class="font-size-h4 line-height-md"></p>
    </div>
    <!--end::Content-->
</div>