.error.error-3 .error-title {
    font-size: 8.7rem !important; }
  
  @media (min-width: 768px) {
    .error.error-3 .error-title {
      font-size: 15.7rem !important; } }

      .error.error-3 .error-title {
        font-size: 15.7rem !important;
    }

   
.pl-md-30, .px-md-30 {
    padding-left: 7.5rem !important;
}

.error.error-3 .error-title {
    font-size: 15.7rem !important;
}

.display-4 {
    font-size: calc(1.375rem + 1.5vw) !important;
}
.font-size-h1 {
    font-size: 2rem !important;
}

.text-dark-75 {
    color: #3F4254 !important;
}

.line-height-md {
    line-height: 1.25 !important;
}
.font-size-h4 {
    font-size: 1.35rem !important;
}

