<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<!-- <kt-portlet-header [title]="'Topic List'" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		
		 <ng-container ktPortletTools>
		
			
		</ng-container>
	</kt-portlet-header> -->
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-10 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search user" #searchInput placeholder="Search">
							<mat-hint align="start">
								<strong>Search</strong> in all fields
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::FILTERS -->

			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS -->
			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{'show' : selection.selected.length > 0}">
				<!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span>
								{{ selection.selected.length }}
							</label>
							<!-- selectedCountsTitle => function from codeBehind (actiontrackertopics-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						</div>
						<div class="kt-form__control kt-form__group--inline">
							<button (click)="fetchactiontrackertopics()" mat-raised-button
								matTooltip="Fetch selected actiontrackertopics" class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Fetch Selected
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="actiontrackertopicsResult" matSort
				#sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear style="height:100%;">
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<!-- <ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
				</ng-container> -->
				<ng-container matColumnDef="id">
					<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">ID</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">{{actiontrackertopic.id}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="topicname">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Topic</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">{{actiontrackertopic.topicname}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Findings_or_issues">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Findings Or Issues
					</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">{{actiontrackertopic.Findings_or_issues}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Action</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">{{actiontrackertopic.actions}}</mat-cell>
				</ng-container>
				
				
				<ng-container matColumnDef="launch_deadline_datetime">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Launch Deadline
					</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">
						{{actiontrackertopic.launch_deadline_datetime | date: 'dd-MMM'}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="ownername">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Owner</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">{{actiontrackertopic.ownername}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="control_deadline_datetime">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Control Deadline
					</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">
						{{actiontrackertopic.control_deadline_datetime | date: 'dd-MMM'}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="target">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Target</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">
						{{actiontrackertopic.target}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="priorityname">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Priority</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic" [ngStyle]="{ color : actiontrackertopic.prioritycolor }">
						{{actiontrackertopic.priorityname}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Status</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic"
						[ngStyle]="{ color : actiontrackertopic.statuscolor }">{{actiontrackertopic.statusname}}
					</mat-cell>
				</ng-container>
			
				<ng-container matColumnDef="executed_per">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="GridHeader">Executed</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic">
						<circle-progress [percent]="actiontrackertopic.executed_per" [radius]="25"
							[outerStrokeWidth]="8" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
							[innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="400"
							[showSubtitle]="false" [titleFontSize]="10" [unitsFontSize]="10"></circle-progress>
						<!-- {{actiontrackertopic.executed_per}} -->
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="action">
					<mat-header-cell *matHeaderCellDef class="GridHeader">Actions</mat-header-cell>
					<mat-cell *matCellDef="let actiontrackertopic" class="material-icons">
						<button mat-icon-button color="primary" matTooltip="Add Comment" class="matbuttonsize"
							(click)="addactionTrackerToicConv(actiontrackertopic)">
							<mat-icon>chat</mat-icon>
						</button>&nbsp;
						<br>
						<button mat-icon-button color="warn" class="matbuttonsize" matTooltip="View Comment"
							type="button" (click)="viewactionTrackerToicConv(actiontrackertopic)">
							<mat-icon>list_alt</mat-icon>
						</button>
						<br>
						<button mat-icon-button color="primary" class="matbuttonsize"
							matTooltip="edit Action Tracker Topic" (click)="editactiontrackertopic(actiontrackertopic)">
							<mat-icon>create</mat-icon>
						</button>&nbsp;
						<!-- <button mat-icon-button    color="warn" 
							matTooltip="Delete Action Tracker Topic"
							type="button"
							
							(click)="deleteactiontrackertopic(actiontrackertopic)">
							<mat-icon>delete</mat-icon>
						</button> -->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>