

<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		

		<kt-auth-notice ></kt-auth-notice>
		<div class="kt-login__signin">
				<div class="kt-login__head">
					<h3 class="kt-login__title">Change Password</h3>
				</div>
				
		<form class="kt-form" [formGroup]="form" autocomplete="off">
			
			<div class="input-group" >
					<input matInput class="form-control"  type="password" placeholder="Enter New Password" formControlName="newpassword" autocomplete="off"/>
					<!-- <mat-icon matSuffix (click)="hide = !hide"  style="padding-top:30px; color: white; margin-left: 5px;" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
				
            </div>
            <div class="input-group" >
				<!-- <mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label> -->
				<input matInput class="form-control"    type="password"  formControlName="confirmPassword" placeholder="Enter Confirm Password" autocomplete="off"/>
                <!-- <input matInput class="form-control"    [type]="hide1 ? 'text' : 'password'"  formControlName="confirmPassword" placeholder="Enter Confirm Password" autocomplete="off"/> -->
                <!-- <mat-icon matSuffix (click)="hide1 = !hide1" style="padding-top:30px; color: white; margin-left: 5px;" >{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon> -->
            
        </div>
			
			<div class="kt-login__actions">
				
				<button (click)="onSumbit(false)"  id="kt_login_signin_submit"  class="btn btn-primary btn-elevate kt-login__btn-primary">Change Password</button>
			</div>
			<!-- [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" -->
		</form>
	</div>
		
	</div>
	<!--end::Signin-->
</div>
<!--end::Body-->
