<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

      
        

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="kt-portlet__body" style="text-align: center;">
                <img alt="logo" src="./assets/media/welcome.png" style="padding-top:20px;"/>
                
                <h3 _ngcontent-huq-c13="" class="kt-subheader__title" style="color: #341E6C; font-family: inherit; margin:100px 0px 100px 0px;">
                    <label>{{WelcomeMessage}}</label></h3>
            </div>
        </div>
    </div>
</div>